body {
    min-height: 100vh;
}

h1 {
    text-align: center;
}

h3 {
    margin-bottom: 0;
}

img {
    display: block;
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.container-for-ramen {
    display: grid;
    place-items: center;
}

.ingredients {
    width: 50%;
    padding-top: 20px;
    margin: 0 auto;
}

ul li {
    font-weight: 700;
    color: rgba(58, 57, 57, 0.829);
    line-height: 40px;
}

.preparation {
    width: 70%;
    margin: 0 auto;
    border-top: 2px solid black;
    text-align: justify;
    font-weight: 700;
}

ol li {
    line-height: 20px;
    padding: 10px;
}

.home-botton {
    text-align: center;
}

.home-botton a {
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
    background-color: gold;
    color: blue;
}